data
docker
node_modules
packages/client-web/.env
packages/client-web/node_modules
packages/server/node_modules
packages/server/dist
packages/server/files
packages/server/.secret
packages/server/.env
