server {
    listen 80;

    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        root /www/web;
        index index.html index.htm;
    }

    location ^~ /api {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass http://mictory-server:3000;
    }

    location ^~ /files {
        alias /www/files;
    }
}
