@tailwind base;
@tailwind components;
@tailwind utilities;

.app-drag-bar {
  -webkit-app-region: drag;
}

.app-drag-bar-no {
  -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track-piece {
  display: none;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #444;
  width: 6px;
  height: 8%;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

::-webkit-scrollbar-thumb:active {
  background-color: #777;
}
